In [1]:
import pandas as pd

### Data from EM-DAT retrieved on 14th July, 2022
https://public.emdat.be/data

In [4]:
df = pd.read_excel('../data/emdat_public_2022_07_14_query_uid-QgPAAC.xlsx', skiprows = 6)

c:\Users\sahit\anaconda3\envs\datapartnership\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [26]:
heatwaves_year = df[df['Disaster Subtype']=='Heat wave'][['Year', 'Country', 'Total Deaths', 'Total Affected',"Total Damages, Adjusted ('000 US$)"]].groupby('Year').sum().reset_index()
heatwaves_year

    Year  Total Deaths  Total Affected  Total Damages, Adjusted ('000 US$)
0   2010       56188.0         15000.0                            497066.0
1   2011          68.0         22000.0                                 0.0
2   2012         123.0             0.0                                 0.0
3   2013        1713.0         71490.0                                 0.0
4   2014         305.0         17000.0                             20603.0
5   2015        7327.0         94933.0                                 0.0
6   2016         314.0           510.0                                 0.0
7   2017         264.0             0.0                                 0.0
8   2018         378.0         62768.0                                 0.0
9   2019        2851.0         24397.0                                 0.0
10  2020        6340.0             0.0                                 0.0
11  2021        1044.0             0.0                                 0.0
12  2022          25.0             0.0                                 0.0

In [27]:
heatwaves = df[df['Disaster Subtype']=='Heat wave'][['Year', 'Country', 'Total Deaths', 'Total Affected',"Total Damages, Adjusted ('000 US$)"]]
heatwaves_country = heatwaves.groupby(['Year', 'Country']).sum().reset_index()
heatwaves_country[heatwaves_country['Country']=='India']

,Year,Country,Total Deaths,Total Affected,"Total Damages, Adjusted ('000 US$)"
1,2010,India,250.0,0.0,0.0
10,2013,India,557.0,0.0,0.0
19,2015,India,2248.0,0.0,0.0
23,2016,India,300.0,0.0,0.0
26,2017,India,264.0,0.0,0.0
45,2019,India,112.0,450.0,0.0
57,2022,India,25.0,0.0,0.0

In [30]:
heatwaves_country['Country'].unique()

array(['Brazil', 'India', 'Japan', 'Russian Federation (the)', 'Italy',
       'United States of America (the)',
       'Bolivia (Plurinational State of)', 'China',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Australia', 'Pakistan', 'Belgium', 'Egypt', 'France',
       'Sudan (the)', 'South Africa', 'Canada', 'Germany',
       "Korea (the Democratic People's Republic of)",
       'Korea (the Republic of)', 'Netherlands (the)', 'Portugal',
       'Spain', 'Austria'], dtype=object)

In [31]:
heatwaves_country[heatwaves_country['Country']=='United States of America (the)']

,Year,Country,Total Deaths,Total Affected,"Total Damages, Adjusted ('000 US$)"
6,2011,United States of America (the),22.0,0.0,0.0
7,2012,United States of America (the),123.0,0.0,0.0
56,2021,United States of America (the),229.0,0.0,0.0

In [32]:
heatwaves_country[heatwaves_country['Country']=='United Kingdom of Great Britain and Northern Ireland (the)']

,Year,Country,Total Deaths,Total Affected,"Total Damages, Adjusted ('000 US$)"
12,2013,United Kingdom of Great Britain and Northern I...,760.0,0.0,0.0
40,2018,United Kingdom of Great Britain and Northern I...,0.0,0.0,0.0
50,2019,United Kingdom of Great Britain and Northern I...,5.0,0.0,0.0
54,2020,United Kingdom of Great Britain and Northern I...,2556.0,0.0,0.0

### Observations

1. There is a lack of data for death and people affected in India because this stands in direct contradiction of the fact that India had the worst temperatures this year 
2. Whereas, the US and UK have a lot more data to fallback on